body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


#container{
	display: flex;
	justify-content: center;
	align-items: center;

}

#form {
	border: 2px solid #26a69a;
	border-radius: 3px;
	margin:0;
	padding-top: 0px;
	padding-bottom: 30px;
	margin-top: 25px;


	
}

#btnSubmit {
	margin-left: 50%;
	transform: translateX(-50%);
	width: 170px;
}

.btnSwitchForm {
	width:50%;
	border-radius: 0px;
	font-size:1.8em;
	background-color: #26a69a;
}
.btnSwitchForm i {
	font-size: 1em;
}
.btnCurrentForm {
	color: #26a69a;
	background-color: white;
	box-shadow: none;
}

.btnCurrentForm:hover {
	border-radius: 0px;
	color:#26a69a;
	box-shadow: none;
	background-color: white;
	cursor: default;
}

#myPreloader {
	position: absolute;
	bottom: 50%;
	transform: translateY(-50%);
	left:50%;
	transform: translateX(-50%);

}
#loginWrapper h6 {
	text-align: center;
}

#dashboardNav {
	margin-bottom: 40px;
}
.leftNav {
	height:100%;
	margin:0;
	padding:0;
}
.leftNav li {
	height: 100%;
	margin:0;
	padding-right: 15px;
	padding-left: 15px;
}
.leftNav li:hover, .logout:hover {
	cursor: pointer;
	background-color: #009688;
}
#logout {
	color: rgba(255, 255, 255, 0.7);
	background-color: #26a69a;
	border: none;
	padding-right: 20px;
	padding-left: 20px;
	margin-top: 0;
	margin-bottom: 0;
	height: 100%;
	transition: all 0.15s ease-in-out;
	line-height: 100%;
}
#logout:hover {
	color: white;
	cursor: pointer;
}
#addTaskContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	
}

#addTaskContainer form {
	margin: 0;
}

#radioBtnAssigned {
	padding-left: 0;
	margin-left: 0;
	margin-bottom: 0;
}

#divRadioBtnAssigned {
	display: flex;
	align-items: baseline;
	padding-left: 0;
	margin-left: 0;
}

#addTaskForm {
	border: 2px solid #26a69a;
	border-radius: 3px;
	margin:0;
	padding-top: 0px;
	padding-bottom: 30px;
	padding: 50px;
	margin-top: 25px;
}
.taskCard{
	border: 2px solid #999;
	color: #555;

}
.taskStatus {
	color:#ff9100;
	text-transform: uppercase;
	font-size: 1.2em;

}
.taskStatusText {
	line-height: 2em;
}
.statusAvailable {
	color: #26a69a;
	line-height: 2em;
	font-size: 1.2em;

}
.taskAction {
	border-top: 4px solid #26a69a;
}
.formTitle {
	text-align: center;
	margin-top:0;
	margin-bottom: 40px;
	color: #555;

}
.dashTitle {
	text-align: center;
	margin-top:0;
	margin-bottom: 40px;
	color: #555;
}
.addTaskMessage{
	text-align: center;
	margin-top:20px;
	color: #555;
}